body header {

    height:700px;
	background-repeat: no-repeat;
    background-position: center top;
}

body {
	font-family: arial;
}

body header h1, body header h2{
	padding: 0px 200px;
	color:black;
}

main {
	padding: 100px 200px;
}

footer {
	padding-top: 50px;
	padding-left: 200px;
}

