@charset "UTF-8";
body header {

	background-image: url("hotel.jpg");
    height:500px;
	background-repeat: no-repeat;
    background-position: center top;
}

body {
	font-family: arial;
}

body header h1, body header h2{
	padding-left: 450px;
	color:black;
}

main {
	padding-left: 200px;
}

footer {
	padding-top: 50px;
	padding-left: 200px;
}

